
/* Your CSS Code here. */
img{
	height:100px;
	width:100px;
}
col-sm-1>img{
	display:flex;
	align-items:center;
	justify-content:center;
}
col-sm-2>img{
	display:flex;
	align-items:center;
	justify-content:center;
}
col-sm-4>img{
	display:flex;
	align-items:center;
	justify-content:center;
}
col-sm-12>img{
	display:flex;
	align-items:center;
	justify-content:center;
}